/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-juil.-2019, 10:34:07
    Author     : Formateur
*/
body{
    font-family: "verdana";
    font-size: 1.5em;
    padding: 0.5em;
    display: flex;
}
h1 {
    font-family: 'amita';
    font-size: 1.5em;
    text-align: center;
}
p{
    text-align: center;
}
aside{
    width: 19%;
    background-color: grey;        
}

h2{  
    text-align: right;
    border-bottom: crimson 2px solid;
    border-bottom-right-radius: 2em;
    border-radius: 0 0 2em 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding-right: 2em;
}
figure{
    position: absolute;
    top:0;
    right: 0;
}
img{
    border: 6px red double;
    border-radius: 10px;

}

section {
    width:85%;
    padding-left: 0.5em;
}
article {
    display: flex;
}
img:hover{
    opacity: 0.9;
}
/* Media querries for mobil < 1024 px */
@media only screen and (max-width: 1024px) {
    aside{
        display: none;
    }
    article {
        flex-direction: column;
    }
}
@media only screen and (max-width: 800px) {
    figure{
        display: none; 
    }
    body{
        font-size: 1.2em;
    }
}
